[master]
${master_name} ansible_host=${master_ip} ansible_user=ubuntu

[workers]
%{ for idx, worker in workers ~}
${worker.name} ansible_host=${worker.ip} ansible_user=ubuntu
%{ endfor ~}

[rancher:children]
master
workers

[rancher:vars]
ansible_python_interpreter=/usr/bin/python3
rancher_version=latest
rancher_server_url=https://${master_ip}
